body{
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.section, .header, .footer{
    padding: 8px 100px 8px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header, .footer{
    color: #E5E7EB;
    background-color: #1F2937;
}

.header-logo{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 32px;
    margin: 16px;
}

.header-logo img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid #797979;
}

ul{
    padding-inline-start: 0px;
}

.header-links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.header .header-links a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.section-one{
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 64px 100px 64px 100px;

    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-one .squirrel-delivery-service-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-basis: 33%;
    
}

.section-one .main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    flex: 0 1 32px;
}

.section-one .subtext{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}

.section-one img{
    width: 400px;
    height: auto;
    border-radius: 4px;
    flex-basis: 33%;
}

.sign-up-button{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 4px 16px;
    border-radius: 8px;
    border-color: #3882F6;
    max-width: 96px;
}

.section-two{
    flex-direction: column;
    padding: 64px 100px 64px 100px;
}

.section-two .main-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 8px;
}

.section-two .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.section-two .container .child{
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 16px;
    gap: 8px;
    
}

.section-two .container .child img{
    width: 128px;
    height: 128px;
    border-radius: 8px;
    border: 4px solid #3882F6;
    object-fit: cover;
}

.section-three{
    padding: 64px 100px 64px 100px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-three .quote{
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.section-three .quote-speaker{
    align-self: flex-end;
}

.section-four{
    padding: 64px 100px 64px 100px;
    background-color: #F9FAF8;
    
}

.section-four .call-to-action{
    color: #E5E7EB;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 32px 64px 32px 64px;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
}

.section-four .sign-up-text-header{
    font-size: large;
    font-weight: bold;
    margin-bottom: 4px;
}

.section-four .sign-up-button{
    border-color: #E5E7EB;
}

.footer{
    justify-content: center;
    padding: 16px;
}